.completed {
  text-decoration: line-through;
}

.changed {
  color: red;
}

body {
  background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
  background-color: #cccccc;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo {
  width: 100px;
  height: 100px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.button-group > * {
  margin: 0.5rem;
}
